@import "../variable";

.label {
	font-size: $text-medium;
	color: $primary-color;
	font-weight: 600;
}

.error {
	font-size: $text-small;
	color: $danger-color;
	height: 1rem;
}

.container {
	display: grid;
	gap: 0.25rem;
}
