@import "../variable";
@import "../mixins";

.inputContainer {
	border: solid 2px $primary-color;
	border-radius: 0.25rem;
	outline: none;
	padding: 0.5rem 0.75rem;
	width: fit-content;
	font-size: 1rem;
	background: $secondary-color;
	line-height: 1.5rem;
	width: 100%;

	@include md() {
		min-width: 25rem;
		min-width: 0;
	}

	&:focus {
		outline: $primary-color-light;
	}
}

.date {
	width: 100%;
}

.input {
	color: $primary-color;
}

.passwordContainer {
	position: relative;
	width: fit-content;
	width: 100%;
}

.showPassword {
	position: absolute;
	top: 50%;
	right: 1rem;
	translate: 0 -50%;
	cursor: pointer;
	color: $primary-color;

	&:hover {
		color: $primary-color-light;
	}

	.showPasswordIcon {
		height: 1.25rem;
		width: auto;
	}
}
