@import "../variable";
@import "../mixins";

.model {
	position: fixed;
	z-index: 50;
	inset: 0px;
	background: $primary-color;
	--tw-bg-opacity: 0.7;
	overflow-y: auto;
	height: 100%;
}

.hidden {
	display: none;
}

.model_container {
	position: relative;
	background: $secondary-color;
	max-width: 34rem;
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.5rem;
	border: 2px solid $primary-color;
	top: 0rem;
	left: 0;
	margin: 0 auto;

	@include md() {
		transform: translateY(25%);
	}
}

.model_close_btn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	align-items: flex-end;
	padding: 0.5rem;

	button {
		padding: 0.25rem;
		border-radius: 0.25rem;
		font-size: 1.125rem;

		@include md() {
			font-size: 1.5rem;
		}
	}
}

.model_title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	line-height: 2rem;
}
