@import "../variable";
@import "../mixins";

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0 1rem;
	width: 100%;
	width: fit-content;

	@include md() {
		min-width: 25rem;
	}

	.formLink {
		margin-top: 1rem;
		font-size: $text-small;
		color: $primary-color;

		&:hover {
			color: $primary-color-light;
		}

		span {
			color: $highlight-color;
			font-weight: 900;
		}
	}
}
