@import "../variable";
@import "../mixins";

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.delete_btn_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	margin-top: 1rem;
}

.item {
	border: 2px solid $primary-color;
	border-radius: 0.25rem;
	width: 100%;
	padding: 0.25rem;
	overflow-x: clip;

	.header {
		border-bottom: 2px solid $primary-color;
		margin-bottom: 0.25rem;
		font-size: $text-large;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			width: 20rem;
			text-overflow: ellipsis;

			@include md() {
				width: auto;
			}
		}

		div {
			display: flex;
			gap: 0.5rem;
		}
	}

	.content {
		display: grid;
		grid-template-columns: auto auto 1fr;
		gap: 0 1rem;
		margin-top: 0.5rem;

		.title {
			font-weight: 600;
			display: flex;
			align-items: center;
		}

		.detail {
			text-overflow: ellipsis;
			cursor: pointer;
			word-break: break-all;
		}
	}
}
